@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: #f1f1f1;
  color: #0f141e;
  font-size: 21px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

h2 {
  width: 250px;
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: #505050;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #86898f;
  text-decoration: underline;
}

a:active {
  color: blue;
}

.avatar {
  max-width: 300px;
  width: 100%;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  padding-top: 33px;
  margin-left: 40px;
}

@media (max-width: 700px) {
  .info-text {
    margin-left: 0;
  }
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

.container {
  position: relative;
  top: 10px;
  max-width: 750px;
  padding: 30px;
  margin: auto;
  margin-bottom: 110px;
  background-color: white;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

.navig {
  text-align: center;
  margin-bottom: 20px;
}

.navig ul li {
  display: inline;
  padding-right: 40px;
}

.head h2 {
  margin: 0;
  padding: 0;
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
}

.contacts ul {
  padding: 0;
  list-style: none;
}

.contacts li img {
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}

.bg-yellow {
  position: relative;
  top: 20px;
  background: #fff9dc;
}

.bg-green {
  position: relative;
  top: 40px;
  background: #e5ffe7;
}

.bg-red {
  position: relative;
  top: 60px;
  background: #ffe5e5;
}

.bg-blue {
  position: relative;
  top: 80px;
  background: #c3f6ff;
}

.bg-purple {
  position: relative;
  top: 100px;
  background: #e7e1ff;
}

.bg-antique {
  position: relative;
  top: 120px;
  background: #faebd7;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list2 li {
  margin-bottom: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 120px;
  margin: 0 -30px;
  height: 50px;
  padding: 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #505050;
  box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}

footer a img {
  position: relative;
  top: 3px;
}

.imhr a {
  position: relative;
  bottom: 11px;
  margin-left: 5px;
  color: white;
}

.imhr img {
  position: relative;
}
